:root {
	--primary-background-color: #ffffff;
	--secondary-background-color: #f5f4fa;
	--footer-background-color: #2f303a;
	--focus-color: #2196f3;
	--primary-font-color: #757575;
	--secondary-font-color: #212121;
	--logo-white: #ffffff;
}

body {
	background-color: var(--primary-background-color);
	color: var(--primary-font-color);

	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

/* Обнуление-скрытие  */

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

img {
	display: block;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
/* Header */

.header {
	border-bottom: 1px solid #ececec;
}

.header-div.container {
	display: flex;
	align-items: center;
}

.nav {
	display: flex;
	align-items: center;
}

.nav-container {
	display: flex;
	align-items: center;
}
/* logo */

.logo {
	color: var(--secondary-font-color);
	margin-right: 93px;

	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;

	text-decoration: none;
}

.logo .logo-blue {
	color: var(--focus-color);
}
.logo-white {
	color: var(--logo-white);
}
.logo:hover,
.logo:focus {
	color: var(--focus-color);
}
.logo-white:hover,
.logo-white:focus {
	color: var(--focus-color);
}

/* nav */

.nav-list {
	display: flex;
}
.nav-item:not(:last-child) {
	margin-right: 50px;
}

.nav .link.current {
	color: var(--focus-color);
}

.nav .link {
	color: var(--secondary-font-color);
	text-decoration: none;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.02em;

	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
}

.nav .link:hover,
.nav .link:focus {
	color: var(--focus-color);
}

/* contacts */
.contact {
	display: flex;
	margin-left: auto;
}

.contact .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: inherit;
	text-decoration: none;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.02em;
}
.contact-item:not(:last-child) {
	margin-right: 50px;
}
.contact .link:hover,
.contact .link:focus {
	color: var(--focus-color);
}

/* hero */

.hero .container {
	padding: 200px;
	background-color: var(--footer-background-color);
}
.hero .title {
	margin-top: 0;
	margin-bottom: 30px;

	color: var(--primary-background-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.button {
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	border-width: 0px;
	color: var(--primary-background-color);
	background-color: var(--focus-color);

	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero .button {
	padding: 10px 32px;
}

/* maine */
.container .list {
	display: flex;
	align-items: center;
}
.text-list {
	width: 270px;
}

.section.team {
	background-color: var(--secondary-background-color);
	padding-bottom: 94px;
}

.section-title {
	color: var(--secondary-font-color);
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}

.list-title {
	color: var(--secondary-font-color);
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.list .item:not(:last-child) {
	margin-right: 30px;
}
.team .container {
	background-color: var(--secondary-background-color);
}
.section.team .item {
	background: var(--primary-background-color);
}

.list-padding-team {
	padding-top: 30px;
	padding-bottom: 30px;
}
.section.team .list-title {
	color: var(--secondary-font-color);

	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: none;
}

.position {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}

/* footer */

footer {
	background-color: var(--footer-background-color);
	padding-top: 60px;
	padding-bottom: 60px;
}
.container .address-list,
.address {
	display: block;
}

.address-footer {
	margin-top: 20px;
}

.address-list .link:hover,
.address-list .link:focus {
	color: var(--focus-color);
}
.address-list.contact {
	font-style: normal;
	text-decoration: none;
	color: inherit;
}

.address-link {
	text-decoration: none;
	color: var(--primary-background-color);

	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
.clarity {
	display: block;
	margin-top: 9px;
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ---portfolio--- */

/* filter button */
.btn-list {
	display: flex;
	justify-content: center;
	margin-bottom: 34px;
}

/* Якщо так пишу (строчка 340), намагаючись зняти 8рх в останній кнопці, то чомусь марджини не працюють.
Якщо прибрати нот:ласт чайлд, то марджини працюють, 
але в останній кнопці зайвий марджин звісно лишається.  Допоможіть зрозуміти чому.  */

.btn-portfolio .button:not(:last-child) {
	margin-right: 8px;
}

.btn-list .button {
	color: var(--footer-background-color);
	background-color: var(--secondary-background-color);
	padding: 6px 22px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
}

.btn-list .button:hover,
.btn-list .button:focus {
	color: var(--primary-background-color);
	background-color: var(--focus-color);
}

/* portfolio content */

.section-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
	margin-top: -30px;
}
.section-item {
	flex-basis: calc((100% - 90px) / 3);
	margin-left: 30px;
	margin-top: 30px;
}
.link {
	text-decoration: none;
	color: inherit;
}

.link-title {
	color: var(--secondary-font-color);
	margin-top: 20px;
	margin-bottom: 4px;
	margin-left: 24px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.title-description {
	margin-bottom: 20px;
	margin-left: 24px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.03em;
}
